In [10]:
!pip install keras_tuner

Collecting keras_tuner
  Downloading keras_tuner-1.2.1-py3-none-any.whl (169 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.6/169.6 kB 1.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: ipython in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from keras_tuner) (7.31.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: tensorflow>=2.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from keras_tuner) (2.11.0)
Requirement already satisfied: packaging in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from keras_tuner) (21.3)
Requirement already satisfied: requests in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from keras_tuner) (2.28.1)
Requirement already satisfied: flatbuffers>=2.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (23.1.21)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (4.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (2.2.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (0.30.0)
Requirement already satisfied: wrapt>=1.11.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (1.12.1)
Requirement already satisfied: setuptools in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (63.4.1)
Requirement already satisfied: absl-py>=1.0.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (1.4.0)
Requirement already satisfied: six>=1.12.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (1.16.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (3.19.6)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (0.4.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (2.11.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (3.3.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (3.7.0)
Requirement already satisfied: numpy>=1.20 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (1.21.5)
Requirement already satisfied: libclang>=13.0.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (15.0.6.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (1.42.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (2.11.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorflow>=2.0->keras_tuner) (2.11.2)
Requirement already satisfied: matplotlib-inline in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (0.1.6)
Requirement already satisfied: pygments in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (2.11.2)
Requirement already satisfied: traitlets>=4.2 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: appnope in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (0.18.1)
Requirement already satisfied: pickleshare in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (3.0.20)
Requirement already satisfied: decorator in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: backcall in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras_tuner) (0.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from packaging->keras_tuner) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from requests->keras_tuner) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from requests->keras_tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from requests->keras_tuner) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras_tuner) (0.37.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->keras_tuner) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: wcwidth in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (2.6.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (2.0.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (1.8.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (1.3.1)

Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/joshuasamuel/opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (3.2.2)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.2.1 kt-legacy-1.0.4

In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df.CLASSIFICATION.value_counts()

In [5]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts[classification_value_counts < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [6]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [7]:
# Split our preprocessed data into our features and target arrays
X = numeric_app_df.drop('IS_SUCCESSFUL', axis=1)
y = numeric_app_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=33)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=5), activation=activation, input_dim=44))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [16]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from ./untitled_project/tuner0.json

In [17]:
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 56 Complete [00h 00m 22s]
val_accuracy: 0.7329446077346802

Best val_accuracy So Far: 0.7359766960144043
Total elapsed time: 00h 09m 08s
INFO:tensorflow:Oracle triggered exit

In [18]:
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'first_units': 26, 'num_layers': 5, 'units_0': 26, 'units_1': 6, 'units_2': 1, 'units_3': 1, 'units_4': 11, 'tuner/epochs': 20, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 21, 'num_layers': 5, 'units_0': 21, 'units_1': 16, 'units_2': 26, 'units_3': 26, 'units_4': 11, 'tuner/epochs': 7, 'tuner/initial_epoch': 3, 'tuner/bracket': 2, 'tuner/round': 1, 'tuner/trial_id': '0036'}
{'activation': 'relu', 'first_units': 21, 'num_layers': 5, 'units_0': 21, 'units_1': 16, 'units_2': 26, 'units_3': 26, 'units_4': 11, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0038'}

In [19]:
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5533 - accuracy: 0.7360 - 430ms/epoch - 2ms/step
Loss: 0.5533090233802795, Accuracy: 0.7359766960144043
268/268 - 0s - loss: 0.5530 - accuracy: 0.7356 - 357ms/epoch - 1ms/step
Loss: 0.5530156493186951, Accuracy: 0.7356268167495728
268/268 - 0s - loss: 0.5506 - accuracy: 0.7356 - 356ms/epoch - 1ms/step
Loss: 0.5505774021148682, Accuracy: 0.7356268167495728